.feed {
    max-width: 1440px;
    margin: 0 auto;
    height: 693px;
    background-color: var(--bg-color);
    @include _600 {
        height: 630px;
    }
    @include _350 {
        height: 660px;
    }
    
    .container {
        padding: 59px 30px;
        height: 100%;
    }
    &__title {
        letter-spacing: 1px; 
        @include _600 {
            font-size: 32px;
            line-height: 33px;
            letter-spacing: 0.05em;
            margin-bottom: 51px;
        }
    }
    &__item {
        width: 570px;
        //width: 100%;
        height: 400px;
        padding: 40px 43px 36px 91px;
        background-color: var(--secondBg);
        position: relative;
        overflow: hidden;
        margin: 0 15px 55px 15px;
        object-fit: cover;
        @include _1270 {
            max-width: 570px;
            padding-left: 70px;
        }
        @include _1170 {
            //margin: 0 auto;
            //width: 100%;
        }
        @include _600 {
            width: 100%;
            padding: 25px;
            border-radius: 10px;
            height: 378px;
        }
    }
    &__header {
        position: absolute;
        width: 100%;
        height: 55px;
        left: 298px;
        top: 70px;
        @include _600 {
            left: 170px;
            top: 36px;
        }
    }
    &__name {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px; 
        @include _600 {
            font-size: 16px;
            line-height: 120%;
            width: 58px;
            height: 38px; 
            margin-bottom: 8px;  
        }
    }
    &__descr {
        font-weight: 500;
        font-size: 20px;
        line-height: 39px;
        color: #B5B5B5;
        @include _600 {
            font-size: 14px;
            line-height: 17px;
        }
    }
    hr {
        position: absolute;
        width: 570px;
        height: 0px;
        left: 0px;
        top: 129px;
        border: 1px solid #DCD1BB; 
        z-index: 0; 
        @include _600 {
            top: 90px;
            width: 100%;
        }
    }
    img {
        position: relative;
        z-index: 1;
        @include _600 {
            width: 129px;
            height: 129px;
        }
    }
    &__icon {
        font-size: 32px;
        color: var(--second-color);
        path {
            &:hover {
                transition: all .5s;
                box-shadow: 0px 0px 8px var(--second-color);   
            }
        }
    }
    &__social {
        position: absolute;
        //width: 100px;
        height: 28px;
        left: 291px;
        top: 134px;
        @include _600 {
            left: 164px;
            top: 83px;
        }
        @include _400 {
            width: 90%;
            left: 111px;
            top: 125px;
        }
    }
    &__text {
        position: absolute;
        max-width: 400px;
        height: 126px;
        left: 100px;
        top: 242px;

        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 169%;
        @include _1270 {
            left: 75px;
        }
        @include _600 { 
            width: 90%;
            height: 154px;
            left: 24px;
            top: 190px;
            line-height: 170%; 
        }
        @include _400 {
            font-size: 14px;
        }
        @include _350 {
            width: 100%;
        }
    }
}
.carousel {
    margin: 0 auto;
    position: relative;
    width: 1170px;
    //width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
    margin-bottom: 42px;
    object-fit: cover;
    @include _1170 {
        width: 600px;
    }
    @include _600 {
        width: 100%;
    }
}

.slider-container {
    width: 1170px;
    height: 455px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    @include _1170 {
        width: 100%;
    }
}


.slick-slide {
    float: left;
    height: 400px;
    position: relative;
    transition-property: transform;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}


.slick-dots {
    width: 136px !important;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: -29px;
    transform: translateX(50%);
    right: 49%;
    list-style-type: none;
    padding: 0;
    border: none;
    button {
        font-size: 0;
        height: 15px;
        width: 15px;
        border: 1px solid white;
        border-radius: 50%;
        background-color: #DFDFDF;
        margin-right: 14px;
        padding: 0;
    }
}
.slick-active {
    button {
        border: none;
        background-color: var(--second-color); 
    } 
}
