.footer {
    background-color: var(--bg-color);
    max-width: 1442px;
    margin: 0 auto;
    .container {
        max-width: 1440px;
        height: 482px;
        padding: 69px 30px 95px 30px;
        @include _767 {
            height: 551px;
            padding: 69px 20% 95px 20%;
        }
        @include _600 {
            padding: 69px 15% 95px 15%;
        }
        @include _480 {
            padding: 69px 30px 95px 30px;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
        max-width: 1170px;
        margin: 0 auto;
        @include _767 {
            //position: relative;
        }
    }
    &__left {
        width: 300px;
        height: 290px;
        @include _767 {
            height: 453px;
        }
        .logo {
            display: block;
            margin-bottom: 36px;
            @include _767 {
                top: -39px;
                left: 2px;
            }
            &::after {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                top: 31px;
                left: 1px;
                z-index: 15;
                background-color: var(--second-color);
            } 
        }
    }
    &__descr {
        width: 300px;
        height: 96px;
        font-weight: 400;
        font-size: 16px;
        line-height: 170%;
        margin-bottom: 50px;
        @include _767 {
            display: none;
        }
    }
    &__foot {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        position: absolute;
        bottom: 2px;
        left: 4px;
    }
    &__center {
        padding-top: 37px;
        margin-right: 107px;
        @include _979 {
            margin: 0 auto;
        }
    }
    &__navigation {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 25px;
        @include _767 {
            display: none;
        }
    }
    &__menu {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding-left: 0;
        @include _767 {
            display: none;
        }
        ul {
            list-style-type: none !important; 
            padding-left: 0; 
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            width: 83px;
            height: 165px;
            margin-bottom: 35px;
        }
    }
    &__contacts {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        padding-top: 37px;
        margin-bottom: 25px;
        @include _767 {
            margin-bottom: 35px;
        }
    }
    &__social {
        font-size: 32px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 8px;
        @include _767 {
            position: absolute;
            top: -24px;
            right: 3px;
        }
    }
    &__addr,
    .email,
    .phones {
        font-weight: 500;
        font-size: 16px;
        color: #878787;
        text-transform: uppercase;   
    }
    &__mail {
        font-weight: 400;
        font-size: 14px;
        color: #161616; 
        margin-bottom: 45px;
        @include _767 {
            margin-bottom: 30px;
        }
    }
    &__ress {
        font-weight: 400;
        font-size: 14px;   
    }
    &__phone {
        font-weight: 400;
        font-size: 14px;
    }
    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #161616;
    }
    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 270px;
        height: 284px;
        @include _767 {
            position: absolute;
            min-width: 260px;
            margin-top: 44px;
        }
    }
    &__adres {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 6px;
        margin-bottom: 43px;
        @include _767 {
            margin-bottom: 32px;
        }
        
    }
    &__email {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        
        .email {
            margin-bottom: 8px;
        }
    }
    &__phones {
        .phones {
            margin-bottom: -33px;
        }
    }
}         