.header {
    max-width: 1440px;
    height: 101px;
    position: relative;
    background-color: var(--secondBg);
    margin: 0 auto;
    overflow: hidden;
    @include _1270 {
        padding-left: 15px;
    }
    .containerH {
        max-width: 1170px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 9px;
        .menu {
            list-style-type: none;
            display: flex;
            width: 271px;
            font-size: 16px;
            line-height: 19px;
            gap: 50px;
            font-weight: 500;
            position: absolute;
            top: -43px;
            left: 168px;
            a {
                text-decoration: none;
                color: var(--text2);
                &:hover {
                    transition: all .5s;
                    color: var(--grey);  
                }
            }
            nav {
                text-align: center;
            }    
        }
    }
    &__phone {
        width: 197px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        z-index: 25;
        position: absolute;
        top: 31px;
        right: 135px;
        @include _1170 {
            position: absolute;
            top: 29px;
            right: 15px;
        }
        @include _767 {
            justify-content: flex-end;
        }
        @include _767 {
            //display: none;
            top: -100%;
            visibility: hidden;
            &.active {
                top: 30px;
                left: 7%;
                visibility: visible;
                transition: all 1s;
                font-size: 20px;
                width: 200px;
                justify-content: space-between;
            }
        }
    }
} 
a {
    text-decoration: none;
    color: var(--text2);
    &:hover {
        transition: all .5s;
        //text-shadow: 0px 0px 2px var(--second-color); 
        color: var(--grey);  
    }
}  
.change-lang {
    border: none;
    background-color: transparent;
    //color: transparent;
}
.logo {
    @include _767 {
        position: absolute;
        top: 28px;
        left: 17px;
        &::after {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            top: 31px;
            left: 1px;
            z-index: 15;
            background-color: var(--second-color);
        }

    }
}

.container__menu {
        width: 100%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1;
        &::after {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            top: -44px;
            left: 1px;
            z-index: 15;
            background-color: var(--second-color);
            @include _767 {
                display: none;
            }
        }
    }
   
        

.container__menuAcc {
    list-style-type: none;
    overflow: hidden;
    opacity: 0;
    transition: all .5s;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(224, 223, 221, 0.911);
    z-index: 25;
    @include _767 {
        &.active {
            visibility: visible;
            opacity: 1;
            overflow: auto;
            top: 0;
        }
        .menuAcc {
            top: -100%;
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            //justify-content: center;
            justify-content: space-evenly;
            width: 100%;
            height: 400px;
            padding-left: 7%;
            font-size: 28px;
            font-weight: 900;
            transition: all 1s;
            padding-top: 70px;
            opacity: 0;
        }
        .menuAcc.active {
            top: 0;
            opacity: 1;
        }   
    }    
}
input:active, input:focus, textarea:active, textarea:focus, select:active, select:focus {
    background:  #e0d3cb;
    @include _979 {
        background: transparent;
    }
    @include _767 {
        background:  #e3e2e0;
    }
}
   
