.hero {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    z-index: 0;
    .container {
        max-width: 1305px;
        min-height: 649px;
        position: relative;
        margin-left: 135px;
        @include _870 {
            margin-left: 15%;
            height: 676px;
        }
        @include _767 {
            margin-left: 7%;
        }
        @include _480 {
            height: 676px;
        }
        img {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 0;
            @include _1170 {
                
                overflow: hidden !important;
                object-fit: cover;
            }
            @include _979 {
                height: 90%;
            }
            @include _600 {
                width: 108%;
            }
            @include _480 {
                //width: 414px;
                height: 249px;
            }
        }
    }
    &__wrapper {
        width: 570px;
        height: 343px;
        padding-top: 54px;
        position: relative;
        z-index: 1;
        @include _1170 {
            padding-top: 1px;
        }
        @include _767 {
            width: 100%;
        }
        @include _480 {
            width: 100%;
        }
    } 
    &__title {
        width: 490px;
        height: 128px;
        font-family: 'BN Chester Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 66px;
        line-height: 64px;
        letter-spacing: 0.06em;
        color: #3D3737;
        margin-bottom: 36px;
        margin-right: 0;
        z-index: 2;
        @include _979 {
            margin-top: 0;
        }
        @include _767 {
            font-size: 58px;
            margin-top: 90px;
        }
        @include _600 {
            width: 430px;
        }
        @include _480 {
            font-size: 48px;
            margin-top: 94px;
            line-height: 53px;
            letter-spacing: 0.05em;
            margin-bottom: 5px;
            width: 360px;
        }
        @include _400 {
            width: 99%;
            font-size: 42px;
        }
        @include _350 {
            font-size: 38px;
        }
    }
    &__subtitle {
        width: 382px;
        height: 81px;
        font-family: 'Gilroy';
        //font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 169%;
        color: var(--dark-text);
        margin-bottom: 55px;
        margin-right: 0;
        @include _480 {
            width: 360px;
            margin-bottom: 42px;
        }
        @include _400 {
            width: 97%;
        }
    }
    &__btn {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 9px 32px;
        width: 168px;
        height: 48px;
        border: 2px solid var(--second-color);
        border-radius: 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-transform: uppercase;
        margin-right: 0;
        &:hover {
            box-shadow: 0px 0px 8px var(--second-color);
            transition: all .5s;
        }
        @include _480 {
            width: 353px;
            height: 44px;
            text-align: center;
            justify-content: center;
        }
        @include _400 {
            width: 93%;
        }
    }  

}