.pricing {
    max-width: 1440px;
    margin: 0 auto;
    height: 753px;
    background-color: var(--secondBg);
    @include _979 {
        height: 1233px;    
    }
    @include _600 {
        height: 1215px;
    }
    .container {
        padding: 102px 30px;
        @include _979 {
            padding: 102px 92px;
        }
        @include _767 {
            padding: 56px 92px;
        }
        @include _480 {
            padding: 56px 30px;
        }   
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 970px;
        margin: 0 auto;
        @include _979 {
            flex-wrap: wrap;
            justify-content: space-around;
            gap: 30px;
        }
    }
    &__title-top {
        margin-bottom: 62px;
        @include _767 {
            font-size: 32px;
            line-height: 33px;
            letter-spacing: 0.05em;
            margin-bottom: 60px;
        }
        
    }
    &__item {
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        padding: 29px 38px;
        //gap: 54px;  
        width: 270px;
        height: 448px;     
        background: #FDFBF8;
        border: 2px solid var(--second-color);
        border-radius: 10px; 
        &:nth-child(2) {
            background-color: var(--second-color);
        }
        @include _767 {
            position: relative;
            width: 270px;
            height: 324px;
            padding: 24px 38px;
            overflow: hidden;
        }
        &:hover {
            transform: scale(1.01);
            transition: all 0.5s;
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
        }
    }
    &__title-item {
        font-family: 'BN Chester Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 27px;
        line-height: 23px;
        text-align: center;
        margin-bottom: 16px;
        @include _767 {
            font-size: 20px;
            line-height: 19px;
            margin-bottom: 70px;
        }
    }
    &__price {
        font-family: 'BN Chester Pro';
        font-style: normal;
        font-weight: 700;
        font-size: 46px;
        color: var(--dark-text);
        margin-bottom: -4px;
        @include _767 {
            font-size: 28px;
            line-height: 27px;
            position: absolute;
            left: 66px;
            top: 71px;
        }
    }
    &__subtitle {
        font-family: 'BN Chester Pro';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 17px;
        color: var(--dark-text);
        margin-bottom: 9px; 
        @include _767 {
            font-size: 16px;
            line-height: 16px;
            position: absolute;
            left: 125px;
            top: 81px;
            color: #BBBBBB;
        }
    }
    hr {
        width: 194px;
        border: 1px solid #DCD1BB;
        margin-bottom: 28px; 
        &:nth-child(2) {
            color: var(--secondBg);
        } 
        @include _767 {
            margin-bottom: 23px;
        }
    }
    &__descr {
        list-style-type: none;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 180%;
        text-align: center;
        color: var(--dark-text);
        padding: 0; 
        margin-bottom: 54px;
        @include _767 {
            font-size: 14px;
            line-height: 178%;
        }
    }
    &__btn {
        padding: 12px 29px;
        width: 141px;
        height: 48px;
        border: 2px solid var(--second-color);
        border-radius: 8px;
        font-family: 'Gilroy';
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        &:hover {
            box-shadow: 0px 0px 8px var(--second-color);
            transition: all .5s;
        }
        @include _767 {
            position: absolute;
            width: 266px;
            height: 40.36px;
            left: 0px;
            top: 280.64px;
            border: none;
            background: var(--second-color);
            border-radius: 0;
            font-size: 16px;
            color: #FFFFFF;
            padding-left: 95px;
            border-top: 1px solid #FDFBF8;
            &:hover {
                text-shadow: 0px 0px 8px var(--second-color);
                transition: all .5s;
            }
        }
        

    }
}
.white {
    color: var(--secondBg);
    
}
.whiteHr {
    border: 1px solid var(--secondBg) !important;
}
.midl {
    &:hover {
        box-shadow: 0px 0px 8px var(--bg-color);
        transition: all .5s;
    } 
}